@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes jump {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  75% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 2s linear infinite alternate;
}
